<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TalonOne_TalonOne>
            <version>0.0.1</version>
        </TalonOne_TalonOne>
    </modules>
    <default>
        <settings>
            <service_url>https://stable.talon.one/v1/</service_url>
            <tracking_url>https://stable.talon.one/talonone.js</tracking_url>
        </settings>
        <talonone>
            <settings>
                <talonone_show_coupon_input>1</talonone_show_coupon_input>
            </settings>
        </talonone>
    </default>
    <global>
        <models>
            <talonone_talonone>
                <class>TalonOne_TalonOne_Model</class>
            </talonone_talonone>
        </models>
        <blocks>
            <talonone_talonone>
                <class>TalonOne_TalonOne_Block</class>
            </talonone_talonone>
        </blocks>
        <helpers>
            <talonone_talonone>
                <class>TalonOne_TalonOne_Helper</class>
            </talonone_talonone>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <discount>
                        <class>TalonOne_TalonOne_Model_Sales_Quote_Address_Total_Discount</class>
                    </discount>
                    <shipping>
                        <class>TalonOne_TalonOne_Model_Sales_Quote_Address_Total_Shipping</class>
                    </shipping>
                </totals>
            </quote>
        </sales>
    </global>
    <frontend>
        <routers>
            <talonone>
                <use>standard</use>
                <args>
                    <module>TalonOne_TalonOne</module>
                    <frontName>talonone</frontName>
                </args>
            </talonone>
        </routers>
        <events>
            <customer_register_success>
                <observers>
                    <customer_register_success>
                        <class>talonone_talonone/observer</class>
                        <method>hookToCustomerRegisterSuccess</method>
                    </customer_register_success>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <customer_login>
                        <class>talonone_talonone/observer</class>
                        <method>hookToCustomerLoginAfter</method>
                    </customer_login>
                </observers>
            </customer_login>
            <customer_save_after>
                <observers>
                    <customer_save_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToCustomerSaveAfter</method>
                    </customer_save_after>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <customer_address_save_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToCustomerAddressSaveAfter</method>
                    </customer_address_save_after>
                </observers>
            </customer_address_save_after>
            <controller_action_postdispatch>
                <observers>
                    <controller_action_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToControllerActionPostDispatch</method>
                    </controller_action_after>
                </observers>
            </controller_action_postdispatch>
            <add_to_cart_after>
                <observers>
                    <add_to_cart_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToAddToCartAfter</method>
                    </add_to_cart_after>
                </observers>
            </add_to_cart_after>
            <update_cart_after>
                <observers>
                    <update_cart_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToUpdateCartAfter</method>
                    </update_cart_after>
                </observers>
            </update_cart_after>
            <save_payment_after>
                <observers>
                    <save_payment_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToSavePaymentAfter</method>
                    </save_payment_after>
                </observers>
            </save_payment_after>
            <sales_quote_collect_totals_after>
                <observers>
                    <sales_quote_collect_totals_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToSalesQuoteCollectTotalsAfter</method>
                    </sales_quote_collect_totals_after>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_place_after>
                <observers>
                    <sales_order_place_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToSalesOrderPlaceAfter</method>
                    </sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_quote_save_before>
                <observers>
                    <sales_quote_save_before>
                        <class>talonone_talonone/observer</class>
                        <method>hookToSalesQuoteSaveBefore</method>
                    </sales_quote_save_before>
                </observers>
            </sales_quote_save_before>
            <sales_quote_remove_item>
                <observers>
                    <sales_quote_remove_item>
                        <class>talonone_talonone/observer</class>
                        <method>hookToSalesQuoteRemoveItem</method>
                    </sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
        </events>
        <layout>
            <updates>
                <talonone_talonone module="talonone_talonone">
                    <file>talonone.xml</file>
                </talonone_talonone>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <talonone>
                <use>admin</use>
                <args>
                    <module>TalonOne_TalonOne</module>
                    <frontName>talonone</frontName>
                </args>
            </talonone>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <talonone translate="title" module="talonone">
                                            <title>Talon.One Settings</title>
                                            <sort_order>100</sort_order>
                                        </talonone>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <TalonOne_TalonOne/>
            </modules>
        </suite>
    </phpunit>
</config>
