<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TalonOne_TalonOne>
            <version>0.0.1</version>
        </TalonOne_TalonOne>
    </modules>
    <default>
        <settings>
            <service_url>https://valuelogic-api.talon.one/</service_url>
        </settings>
    </default>
    <global>
        <models>
            <talonone_talonone>
                <class>TalonOne_TalonOne_Model</class>
            </talonone_talonone>
            <talonone_talonone_mysql4>
                <class>TalonOne_TalonOne_Model_Mysql4</class>
                <entities>
                    <coupon>
                        <table>talonone_coupon</table>
                    </coupon>
                </entities>
            </talonone_talonone_mysql4>
        </models>
        <blocks>
            <talonone_talonone>
                <class>TalonOne_TalonOne_Block</class>
            </talonone_talonone>
            <checkout>
                <rewrite>
                    <onepage_progress>TalonOne_TalonOne_Block_Onepage_Progress</onepage_progress>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <talonone_talonone>
                <class>TalonOne_TalonOne_Helper</class>
            </talonone_talonone>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <talonone_talonone>
                        <class>TalonOne_TalonOne_Model_Sales_Quote_Address_Total_Coupon</class>
                    </talonone_talonone>
                </totals>
            </quote>
        </sales>
    </global>
    <frontend>
        <routers>
            <talonone>
                <use>standard</use>
                <args>
                    <module>TalonOne_TalonOne</module>
                    <frontName>talonone</frontName>
                </args>
            </talonone>
        </routers>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <controller_action_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToControllerActionPostDispatch</method>
                    </controller_action_after>
                </observers>
            </controller_action_postdispatch>
            <add_to_cart_after>
                <observers>
                    <add_to_cart_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToAddToCartAfter</method>
                    </add_to_cart_after>
                </observers>
            </add_to_cart_after>
            <update_cart_after>
                <observers>
                    <update_cart_after>
                        <class>talonone_talonone/observer</class>
                        <method>hookToUpdateCartAfter</method>
                    </update_cart_after>
                </observers>
            </update_cart_after>
        </events>
        <layout>
            <updates>
                <talonone_talonone module="talonone_talonone">
                    <file>talonone.xml</file>
                </talonone_talonone>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <talonone>
                <use>admin</use>
                <args>
                    <module>TalonOne_TalonOne</module>
                    <frontName>talonone</frontName>
                </args>
            </talonone>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <talonone translate="title" module="talonone">
                                            <title>Talon.One Settings</title>
                                            <sort_order>100</sort_order>
                                        </talonone>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <TalonOne_TalonOne/>
            </modules>
        </suite>
    </phpunit>
</config>