<?xml version="1.0"?>
<config>
    <tabs>
        <talonone translate="label">
            <label>Talon.One Extension</label>
            <sort_order>500</sort_order>
        </talonone>
    </tabs>
    <sections>
        <talonone translate="label" module="adminhtml">
            <label>Talon.One Settings</label>
            <tab>talonone</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <talonone_show_coupon_input translate="label comment">
                            <label>Show coupon input</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </talonone_show_coupon_input>
                        <talonone_application_id translate="label comment">
                            <label>Application ID</label>
                            <comment>Application ID from Talon.One</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-greater-than-zero</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </talonone_application_id>
                        <talonone_secret_key translate="label comment">
                            <label>Secret Key</label>
                            <comment>Secret Key generated in Talon.One</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-alphanum validate-length maximum-length-16 minimum-length-16</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </talonone_secret_key>
                    </fields>
                </settings>
            </groups>
        </talonone>

    </sections>
</config>
